*{
    /* background-color: #3A6B35;
    color: #E3B448; */
    /* background-color: #98FF98; */
    /* background-color: #013220; */
    background-color: #FBEEc1;
    /* background-color: #CBD18F; */
    /* background-color: #dbeac6; */
    /* background-color: #64485c; */
    /* background-color: #1F2833; */
    /* background-color: #05263B; */
    /* color: #B8860B; */
    color: #CBD18F;
    /* color: #013220; */
    /* color: #497d59; */
    /* color: #501B1D; */
    /* color: #c5c6c7; */
    /* color: #75E6DA; */
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');